<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd">



    <!-- ===== Déclaration des Managers ===== 
    <bean id="testManager" class="com.philippe75.p6.business.impl.manager.TestManagerImpl"/>
	-->
	
    <!-- ===== ManagerFactory =====
    <bean id="managerFactory" class="com.philippe75.p6.business.impl.ManagerFactoryImpl">
        <property name="testManager" ref="testManager"/>
    </bean>
     -->
    
    <!-- ===== Déclaration des DAO ===== -->
    <bean id="testDao" class="com.philippe75.p6.consumer.impl.dao.TestDaoImpl">
    </bean>
    
    <bean id="daoFactory" class="com.philippe75.p6.webapp.servlets.Main">
        <property name="testDjao" ref="testDao"/>
    </bean>
	
	<!-- ===== DaoFactory =====  
    <bean id="daoFactory" class="com.philippe75.p6.business.impl.DaoFactoryImpl">
        <property name="testDao" ref="testDao"/>
    </bean>
   -->
    
    <!-- ==== AbstractManager ===== 
    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetClass" value="com.philippe75.p6.business.impl.manager.AbstractManager"/>
        <property name="targetMethod" value="setDaoFactory"/>
        <property name="arguments" ref="daoFactory"/>
    </bean>
    -->
    <!-- ====================================================================================================== -->
    
     
    <!-- ===== Déclaration dataSource ===== 
    <bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
    	<property name="jndiName" value="java:comp/env/jdbc/ESCALADE_6"/>
	</bean>
	-->
   
    <!-- ==== AbstractDao ==== 
    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetClass" value="com.philippe75.p6.consumer.impl.dao.AbstractDaoImpl"/>
        <property name="targetMethod" value="setDataSource"/>
        <property name="arguments" ref="dataSource"/>
    </bean>
   -->
     <!-- ====================================================================================================== -->
     

</beans>